html {
	/*background-color: #E4E4E4;*/
	margin: 0;
	padding: 0;
}

body {
	font: 25px Constantia, sans-serif;
	line-height: 1.8889;
	color: #555753;

	margin: 0px;
	padding: 0px;
}

h1 {
    color: #DE1E59;
    text-align: center;
    margin-top: 2px;
}

hr {
    border-style: solid;
    border-width: 1px;
    width: 80%;
    margin-top: -20px;
    margin-bottom: 15px;
}

span {
    margin-left: 78%;
    margin-right: 10px;
    margin-bottom: -40px;
}

label {
    position: relative;
    _position: relative;
    font: Cambria;
    top: -55px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 30px;
}

#nameData {
    position: relative;
    _position: relative;
    top: -55px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 30px;
    font: 20px skia, Cambria, Constantia, sans-serif;
}

div {
    position: relative;
    _position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 703px;
    height: 405px;
    font: 21px Constantia, sans-serif;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    padding: 0px;
    margin-bottom: 8px;
}

textarea {
    width: 700px;
    height: 400px;
    border: 0px;
    font: 22px Cambria, Constantia, sans-serif;
    line-height: 1.18889;
}

#outputData {
    position: relative;
    _position: relative;
    width: 703px;
    height: 400px;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow: auto;
    color: #333;
}
#outputData li {
    padding: 5px 10px;
}
#outputData li:nth-child(odd) {
    margin: 0px;
    background: #eee;
}

.history {
    color: #777;
}

#inputData {
    position: relative;
    _position: relative;
    top: 10px;
    margin-left: -3px;
    margin-right: auto;
    width: 703px;
    /*height: 80px;*/
    border: 2px solid black;
    font: 20px Constantia, sans-serif;
}

#inputData:focus {
    width: 701px;
    outline: none !important;
    border: 3px solid #0C9;
    /*box-shadow: 0 0 10px #0C9;*/
}

button {
    position: relative;
    _position: relative;
    top: -21px;
    left: 710px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px 3px;
    width: 70px;
    height: 30px;
    border: 2px solid #333;
    font: 15px skia, Constantia, sans-serif;
    color: #eee;
    background-color: #333;
}

button:hover {
    font-size: 16px;
    color: #333;
    background-color: #eee;
}